@import url(./swiper-table.style.css);

.table-league__title {
  padding: 12px;
  border-radius: var(--border-radius-m);
  background-color: #000;
  margin: 0 10px 10px;
}

.table-league__title>span:last-child {
  white-space: nowrap;
}

.table-league__table {
  border-spacing: 0 5px;
  min-width: 100%;
}

.table-league__table tr {
  background-color: #fff;
  height: 30px;
  border-radius: var(--border-radius-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.table-league__table tr:first-child {
  background-color: #E8E8E8;
}

.table-league__table tr th:has(.cell--score),
.table-league__table tr td:has(.cell--score) {
  order: +1;
}

.table-league__table tr:nth-child(2n + 3) {
  background-color: #E8E8E8;
}

.table-league__table tr th,
.table-league__table tr td {
  padding: 2px;
  width: 29px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0B0B0B;
}


.table-league__table tr td.td-scored,
.table-league__table tr th.td-scored {
  width: 60px;
}

.table-league__table tr th .cell--scored,
.table-league__table tr td .cell--scored {
  width: 60px;
}

.table-league__table tr td.td-card,
.table-league__table tr th.td-card {
  width: 22px;
}

.table-league__table tr th .cell--card,
.table-league__table tr td .cell--card {
  width: 22px;
}

.table-league__table tr th:nth-child(3),
.table-league__table tr td:nth-child(3) {
  min-width: 124px;
  text-align: left;
  justify-content: flex-start;
}

.table-league__table tr:nth-last-child(1) td:first-child span,
.table-league__table tr:nth-last-child(2) td:first-child span {
  background-color: #FF3B3B;
}

.cell {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-s)px;
}

.table-league__table tr:nth-child(2) td:first-child span {
  background-color: #FDBE11;
}

.table-league__table tr:nth-child(3) td:first-child span {
  background: linear-gradient(180deg, #B9B9B9 0%, #E2E2E2 100%);
}

.table-league__table tr:nth-child(4) td:first-child span {
  background-color: #C79417;
}

.table-league__table a {
  display: contents;
}


.cell--gold {
  background-color: #FDBE11;
  width: 13px;
}

.cell--silver {
  background: linear-gradient(180deg, #B9B9B9 0%, #E2E2E2 100%);
  width: 13px;
}

.cell--bronze {
  background-color: #C79417;
  width: 13px;
}

.cell--outsider {
  background-color: #FF3B3B;
  width: 13px;
}

.cell--own {
  background-color: #C9C9C9;
  height: 26px;
  width: 26px;
  border-radius: var(--border-radius-s);
  display: block;
  margin: 0 auto;
  color: #C9C9C9;
}

.cell--team {
  text-align: left;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td .cell--team-logo {
  min-width: 18px;
  border-radius: 50%;
  border: 1px solid #C9C9C9;
  padding: 3px;
}

.cell--win {
  color: #59C65D;
  background: rgba(89, 198, 93, 0.1);
  border: 0.583333px solid rgba(66, 133, 244, 0.2);
}

.cell--draw {
  color: #4285F4;
  background: rgba(66, 133, 244, 0.1);
  border: 0.583333px solid rgba(66, 133, 244, 0.2);
}

.cell--defeat {
  color: #FF3B3B;
  background: rgba(255, 60, 60, 0.1);
  border: 0.583333px solid rgba(255, 59, 59, 0.2);
}

.cell--total {
  background: #292929;
  color: #fff;
}

@media screen and (min-width: 840px) {
  .cell--team {
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
  }


}

@media screen and (min-width: 1260px) {
  .table-league {
    margin: 0 50px;
    box-shadow: 0px 2.02612px 11.6502px rgba(8, 20, 33, 0.04);
    max-width: 1260px;
  }

  .table-league .container>* {
    box-shadow: 0px 4px 23px rgba(8, 20, 33, 0.04);
  }

  .table-league__title {
    border-radius: var(--border-radius-l) var(--border-radius-l) 0px 0px;
    line-height: 52px;
    margin: 0;
  }

  .table-league__table {
    border-spacing: 0 0;
    border-radius: var(--border-radius-l);
  }

  .table-league__table tr {
    height: 60px;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 20px;
  }

  .table-league__table tr:last-child {
    border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
  }

  .table-league__table tr th:first-child,
  .table-league__table tr td:first-child {
    border-radius: 0;
  }

  .table-league__table tr th:has(.cell--score),
  .table-league__table tr td:has(.cell--score) {
    order: inherit;
  }

  .table-league__table tr:nth-child(2n + 3) {
    background: rgba(255, 255, 255, 0.05);
  }

  .table-league__table tr th,
  .table-league__table tr td {
    min-width: 26px;
    font-size: var(--font-size-xl);
    line-height: 36px;
  }

  .table-league__table a {
    display: block;
  }

  td .cell--team-logo {
    min-width: 30px;
    min-height: 30px;
  }

  .cell {
    width: 26px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-m);
  }

  .cell--team {
    display: block;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    font-size: 14px;
  }

  .cell--own {
    height: 26px;
    width: 26px;
    border-radius: var(--border-radius-m);
    color: #c9c9c9;
  }

  .cell--games,
  .cell--scored {
    background: rgba(11, 11, 11, 0.05);
    border: 0.583333px solid rgba(89, 198, 93, 0.2);
  }

  .cell--games,
  .cell--scored {
    background: rgba(11, 11, 11, 0.05);
    border: 1px solid rgba(32, 32, 32, 0.2);
  }

  .td-scored {
    width: 66px;
  }

  .cell--scored {
    width: 66px;
  }

  .table-league__table tr th:nth-child(3),
  .table-league__table tr td:nth-child(3){
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .table-league {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.table__live {
  margin: 20px auto;
  min-width: 100%;
  padding: 12px;
  border-collapse: collapse;
}

.table__live tr:first-child {
  background-color: #E8E8E8;
}

.table__live th,
.table__live td {
  padding: 5px;
  width: 34px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0B0B0B;
  text-transform: uppercase;
}

.table__live tr {
  height: 60px;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 640px) {
  .table__live td {
    font-size: 14px;
  }

}

@media screen and (min-width: 1240px) {
  .table__live td {
    font-size: 16px;
  }
}


.live {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 7fr;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 20px;
  align-items: center;
}

.live__head,
.live__row {
  display: contents;
  background-color: #E8E8E8;
  text-transform: uppercase;
}

.live__cell {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #e7e7e7;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live__head .live__cell {
  font-weight: bold;
  background-color: #f4f4f4;
}

.expand-5 {
  /* grid-row: span 5; */
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 6fr;
  align-items: center;
}

.expand-5 div:nth-child(1) {
  text-align: right;
}

.expand-5 div:nth-child(5) {
  text-align: left;
}


.block-multiline {
  width: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Максимум 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}


@media screen and (min-width: 530px) {
  .block-multiline {
    width: 80px;
  }
}

@media screen and (min-width: 640px) {
  .live {
    font-size: 14px !important;
  }

  .block-multiline {
    width: auto;
  }
}

@media screen and (min-width: 1240px) {
  .live {
    font-size: 16px;
  }
}

.cup__block {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.cup__block-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 26px 0;
  padding: 26px 32px;
  box-shadow: 5px 5px 20px #b7b7b7;
  background-color: #fff;
}

.cup__block-wrap>div {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: baseline;
}


.cup__block-wrap>div {
  text-align: center;
}

.cup__block-wrap>div>div:first-child {
  text-align: right;
}

.cup__block-wrap>div>div:last-child {
  text-align: left;
}