.teams {
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.teams__wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 15px;
    width: min-content;
    margin: 0 auto;
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.team__item span {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
}


.team__item img {
    padding: 15px;
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}

@media (min-width: 440px) {
    .team {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .team {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 944px) {
    .team__item img {
        max-width: 200px;
        max-height: 200px;
    }
    .team__item span {
        font-size: 20px;
    }
}
